<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
>
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>News Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}">
    <!-- Bootstrap Select-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-select/css/bootstrap-select.min.css}">
    <!-- owl carousel-->
    <link rel="stylesheet" th:href="@{/vendor/owl.carousel/assets/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/vendor/owl.carousel/assets/owl.theme.default.css}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" th:href="@{/css/style.default.css}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/blog.css}" rel="stylesheet">

    <!-- Favicon and apple touch icons-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{/img/apple-touch-icon.png}">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/apple-touch-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-touch-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/apple-touch-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/apple-touch-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/apple-touch-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/apple-touch-icon-152x152.png}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div id="all">
    <!-- Top bar-->
    <!-- Login modal end-->
    <!-- Navbar Start-->
    <!--<     < class="nav-holder make-sticky">-->
    <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
        <div class="container"><a href="manage_post.html" class="navbar-brand home">News Blog<span class="sr-only">News Blog - go to homepage</span></a>
            <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
            <div id="navigation" class="navbar-collapse collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown "><a th:href="@{/posts}">Home</b></a>
                    </li>
                    <li class="nav-item dropdown menu-large"><a th:href="@{/postStory}" >Add new story </a>
                    </li>
                    <li class="nav-item dropdown menu-large">
                        <form th:action="@{/logout}" th:method="POST">
                            <button class="btn btn-md btn-warning btn-inline" type="Submit">Logout</button>
                        </form>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <hr>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12 blog-main">



                    <br>
                    <div class="alert-info" th:text="${message}">Message </div>
                    <table class="table table-hover table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Body</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody th:each="posts : ${posts}">
                        <tr>
                            <th scope="row" th:text="${posts.id}">1</th>
                            <td th:text="${posts.title}">Mark</td>
                            <td th:utext="${#strings.abbreviate(posts.body,450)}">Otto</td>
                            <td th:text="${posts.dateCreated}">@mdo</td>
                            <td ><a th:href="@{'/delete/' + ${posts.id}}" >Delete</a></td>
                            <td><a th:href="@{'/edit/' + ${posts.id}}"> Edit</a></td>
                            <td><a th:href="@{'/spu/' + ${posts.id}}" target="_blank">Preview</a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

    </main>

    <div class="copyrights" style="margin-top: 3500px;">

        <footer class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-center-md">
                        <p>&copy; 2018. News blog</p>
                    </div>
                </div>
            </div>
        </footer>


    </div>
    <!-- </footer> -->
</div>
<!-- Javascript files-->
<script th:href="@{/vendor/jquery/jquery.min.js}" src="../../static/vendor/jquery/jquery.min.js"></script>
<script th:href="@{/popper.js/umd/popper.min.js}" src="../../static/vendor/popper.js/umd/popper.min.js"> </script>
<script th:href="@{/vendor/bootstrap/js/bootstrap.min.js}" src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script th:href="@{/vendor/jquery.cookie/jquery.cookie.js}" src="../../static/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script th:href="@{/vendor/waypoints/lib/jquery.waypoints.min.js}" src="../../static/vendor/waypoints/lib/jquery.waypoints.min.js"> </script>
<script th:href="@{/vendor/jquery.counterup/jquery.counterup.min.js}" src="../../static/vendor/jquery.counterup/jquery.counterup.min.js"> </script>
<script th:href="@{/vendor/owl.carousel/owl.carousel.min.js}" src="../../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:href="@{/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js}" src="../../static/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
<script th:href="@{/js/jquery.parallax-1.1.3.js}" src="../../static/js/jquery.parallax-1.1.3.js"></script>
<script th:href="@{/vendor/bootstrap-select/js/bootstrap-select.min.js}" src="../../static/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script th:href="@{/vendor/jquery.scrollto/jquery.scrollTo.min.js}" src="../../static/vendor/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script th:href="@{/js/front.js}" src="../../static/js/front.js"></script>
</body>
</html>