<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>News Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}">
    <!-- Bootstrap Select-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-select/css/bootstrap-select.min.css}">
    <!-- owl carousel-->
    <link rel="stylesheet" th:href="@{/vendor/owl.carousel/assets/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/vendor/owl.carousel/assets/owl.theme.default.css}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" th:href="@{/css/style.default.css}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/blog.css}" rel="stylesheet">

    <!-- Favicon and apple touch icons-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{/img/apple-touch-icon.png}">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/apple-touch-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-touch-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/apple-touch-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/apple-touch-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/apple-touch-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/apple-touch-icon-152x152.png}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div id="all">
    <!-- Top bar-->
    <!-- Login modal end-->
    <!-- Navbar Start-->
    <!--<     < class="nav-holder make-sticky">-->
    <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
        <div class="container"><a href="../staff/manage_post.html" class="navbar-brand home">News Blog<span class="sr-only">News Blog - go to homepage</span></a>
            <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
            <div id="navigation" class="navbar-collapse collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown "><a th:href="@{/posts}">Home</b></a>
                    </li>

                    <li class="nav-item dropdown menu-large">
                        <form th:action="@{/logout}" th:method="POST">
                            <button class="btn btn-md btn-warning btn-inline" type="Submit">Logout</button>
                        </form>
                    </li>


                    <!-- ========== FULL WIDTH MEGAMENU ==================-->

                    <!-- ========== FULL WIDTH MEGA MENU END ==================-->

                    <!-- ========== Contact dropdown ==================-->

                    <!-- ========== Contact dropdown end ==================-->
                </ul>

            </div>
            <div id="search" class="collapse clearfix">
                <form role="search" class="navbar-form">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr>

    <main role="main" class="container">
        <div id="content">
            <div class="container">
                <div class="row bar">
                    <div id="comments">
                        <div class="row comment">
                            <div class="col-sm-12 col-md-12" >
                                <h5 class="text-uppercase" th:text="${comment.creator.username}">Julie Alma</h5>
                                <i class="fa fa-clock-o"><span class="posted" th:text="${comment.dateCreated}"> September 23, 2011 at 12:00 am</span></i>
                                <p th:text="${comment.body}">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                <!--<p class="reply"><a th:href="@{'/deleteComment/' + ${comments.id}}"><i class="fa fa-reply"></i> Delete</a></p>-->
                            </div>
                        </div>
                        <blockquote><h4 class="text-uppercase">Replies</h4></blockquote>
                        <div class="row comment" style="margin-left: 30px; font-size: 12px">
                            <div class="col-sm-9 col-md-9 pull-right" th:each="reply : ${replies}">
                                <h5 class="text-uppercase" th:text="${reply.creator.username}">Julie Alma</h5>
                                <i class="fa fa-clock-o"><span class="posted" th:text="${reply.dateCreated}"> September 23, 2011 at 12:00 am</span></i>
                                <p th:text="${reply.body}">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                <p class="reply"><a th:href="@{'/deleteComment/' + ${reply.id}}"><i class="fa fa-reply"></i> Delete</a></p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="comment-form  col-md-12">
                    <h4 class="text-uppercase">Leave a reply</h4>
                    <form th:action="@{'/addReply/' + ${comment.id}}" th:method="POST" th:object="${reply}">

                        <!--<div class="row">-->
                            <!--<div class="col-sm-12">-->
                                <!--<div class="form-group sr-only">-->
                                    <!--<label for="email">Title <span class="required text-primary">*</span></label>-->
                                    <!--<input id="email" name="id" type="text" th:value="${post.getId()}" class="form-control">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="body">Reply <span class="required text-primary">*</span></label>
                                    <span  th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="alert" >Body Error</span>
                                    <textarea id="body" th:field="*{body}" name="body" rows="4" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button class="btn btn-template-outlined"><i class="fa fa-reply"></i> Reply</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
    </main>

<div class="copyrights" style="margin-top: 200px;">

    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center-md">
                    <p>&copy; 2018. News blog</p>
                </div>
            </div>
        </div>
    </footer>


</div>
<!-- </footer> -->
</div>
<!-- Javascript files-->
<script src="../../static/vendor/jquery/jquery.min.js"></script>
<script src="../../static/vendor/popper.js/umd/popper.min.js"> </script>
<script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="../../static/vendor/waypoints/lib/jquery.waypoints.min.js"> </script>
<script src="../../static/vendor/jquery.counterup/jquery.counterup.min.js"> </script>
<script src="../../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="../../static/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
<script src="../../static/js/jquery.parallax-1.1.3.js"></script>
<script src="../../static/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../../static/vendor/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="../../static/js/front.js"></script>
</body>
</html>