<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
>
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>News Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/vendor/style.css}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}">
    <!-- Bootstrap Select-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-select/css/bootstrap-select.min.css}">
    <!-- owl carousel-->
    <link rel="stylesheet" th:href="@{/vendor/owl.carousel/assets/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/vendor/owl.carousel/assets/owl.theme.default.css}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" th:href="@{/css/style.default.css}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/blog.css}" rel="stylesheet">

    <!-- Favicon and apple touch icons-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{/img/apple-touch-icon.png}">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/apple-touch-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-touch-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/apple-touch-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/apple-touch-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/apple-touch-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/apple-touch-icon-152x152.png}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div id="all">
    <!-- Top bar-->
    <!-- Login modal end-->
    <!-- Navbar Start-->
    <!--<     < class="nav-holder make-sticky">-->
    <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
        <div class="container"><a href="staff/manage_post.html" class="navbar-brand home">News Blog<span class="sr-only">News Blog - go to homepage</span></a>
            <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
            <div id="navigation" class="navbar-collapse collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown "><a th:href="@{/posts}"><b> Home</b></a>
                    </li>

                    <li class="nav-item dropdown menu-large">
                        <form th:action="@{/logout}" th:method="POST">
                            <button class="btn btn-md btn-warning btn-inline" type="Submit">Logout</button>
                        </form>
                    </li>


                    <!-- ========== FULL WIDTH MEGAMENU ==================-->

                    <!-- ========== FULL WIDTH MEGAMENU END ==================-->
                    <!-- ========== Contact dropdown ==================-->

                    <!-- ========== Contact dropdown end ==================-->
                </ul>

            </div>

        </div>
    </div>

    <hr>
    <div id="content">
        <div class="container">
            <!--<div class="row bar">-->
            <div id="customer-account" class="col-lg-12 clearfix">

                <div class="blog-post" >

                    <div class="pull-left">
                        <span class="heading">User Rating</span>

                        <p th:text="${ratingStatus}">4.1 average based on 254 reviews.</p>

                    </div>
                    <div class="pull-right">
                        <form action="#" th:action="@{'/rating/' + ${post.id}}" th:method="POST" th:object="${rating}">

                            <div class="rate">
                                <input type="radio" th:field="*{ratingValue}" id="star5" name="rate" value="5" /><label for="star5" title="text">5 stars</label>
                                <input type="radio" th:field="*{ratingValue}" id="star4" name="rate" value="4" /><label for="star4" title="text">4 stars</label>
                                <input type="radio" th:field="*{ratingValue}" id="star3" name="rate" value="3" /><label for="star3" title="text">3 stars</label>
                                <input type="radio" th:field="*{ratingValue}" id="star2" name="rate" value="2" /><label for="star2" title="text">2 stars</label>
                                <input type="radio" th:field="*{ratingValue}" id="star1" name="rate" value="1" /><label for="star1" title="text">1 star</label>
                            </div>
                            <button type="submit" class="btn-success" name="submit"> <span class="fa fa-star-half-full"> </span> Rate</button>

                        </form>


                    </div>
                    <!--<hr>-->
                    <div class="clearfix"></div>
                    <p class="error" style="color: red"> <span th:text="${reviewError}" >error</span> </p>
                    <hr>
                    <h2 class="blog-post-title"> <span th:text="${post.title}" >Sample blog post</span>  </h2>
                    <span class="blog-post-meta" th:text="${post.dateCreated}">January 1, 2014 </span> by <span href="#" th:text="${post.creator.username}">Mark</span>

                    <p th:utext="${post.body}" style="text-align: justify">This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
                </div>
                <hr>
                <h3 class="text-uppercase">Reviews</h3>
                <div class="reviews" th:each="review : ${reviews}">
                   by <a href="#" th:text="${review.reviewer.username}">Mark</a>
                    <p th:utext="${review.reviewBody}" style="text-align: justify">This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>


                </div>
                <hr><div class="clearfix"></div>

                <div class="clearfix"></div>


                <!--<div class="box mt-5">-->
                <div class="success">
                    <span th:text="${successMessage}">message</span>
                </div>
                <h4 class="text-uppercase">Leave a review</h4>

                <form th:action="@{'/reviewPost/' + ${post.id}}"  th:method="POST" th:object="${review}">


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="contents">Review </label>
                                <textarea class="form-control" name="review" id="contents" th:field="*{reviewBody}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-template-outlined"><i class="fa fa-eye"></i> Review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="copyrights" style="margin-top: 200px;">

    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center-md">
                    <p>&copy; 2018. News blog</p>
                </div>
            </div>
        </div>
    </footer>


</div>
<!-- </footer> -->
</div>
<!-- Javascript files-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/popper.js/umd/popper.min.js"> </script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="../static/vendor/waypoints/lib/jquery.waypoints.min.js"> </script>
<script src="../static/vendor/jquery.counterup/jquery.counterup.min.js"> </script>
<script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="../static/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
<script src="../static/js/jquery.parallax-1.1.3.js"></script>
<script src="../static/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../static/vendor/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="../static/js/front.js"></script>
</body>
</html>